.root {
       -fx-background-image : url("stardust.png") ;
}

.label {
       -fx-font-size : 12px ;
       -fx-font-weight : bold ;
       -fx-text-fill : white;
       
        -fx-effect : dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0 6) ;
}

#welcome-text {
	
      -fx-font-size : 22px;
       -fx-font-family : "Arial Black" ;
       -fx-fill : red
       
}
     
#actiontarget {
       -fx-fill : FIREBRICK ;
       -fx-font-weight : bold ;
       -fx-effect : dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1) ;
}

.button {
       -fx-text-fill : white ;
       -fx-font-family : "Arial Narrow" ;
       -fx-font-weight : bold ;
       -fx-background-color : linear-gradient(#61a2b1, #2A5058) ;
       -fx-effect : dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1) ;
}

.button:hover {
    -fx-background-color : linear-gradient(#2A5058, #61a2b1);
}