body {
	background-color: #000000;
	font-size:24px;
	font-family: 'Open Sans', sans-serif;
}

#container {
	margin-left: auto;
	margin-right: auto;
	border:1px solid #ffffff;
	width: 900px;
	margin-top: 30px;
	min-height: 500px;
}

#password_check {
	text-align: center;
	color:#fff;
	margin-top: 18px;

}

#szubienica {
	float: left;
	width: 450px;

}

#alfabet {
	float: left;
	width: 450px;
	color:#fff;
	
}

.litera
{
	width: 30px;
	height: 30px;
	margin:5px;
	padding: 5px;
	text-align: center;
	float: left;
	border:3px solid grey;
	border-radius: 5px;
	cursor: pointer;
}

.reset 
{
	color:green;
	cursor: pointer;
	font-size: 48px;



}


.reset:hover
{
	color:white;
	


}
.litera:hover
{
	background-color: #222222;
	color: #ffffff;
	border: 3px solid white;
}


#podpowiedz
{
	color:#ffffff;
	text-align: center;
	margin-top: 15px;
}